* {
    margin: 0%;
    padding: 0%;
}

header {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0%;
    align-items: center;
}

.logo {
    width: 20%;
}

.logo img {}

.menu {
    width: 35%;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li {

    margin-left: 36px;
}

.menu ul li a {
    font-family: lato;
    text-decoration: none;
    color: #2d3950;
    text-transform: uppercase;
    font-size: 13px;
}

.banner {
    background: url(../images/banner.png);
    min-height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    text-align: center;
}

.strict {

    width: 30%;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);
}

.strict h1 {

    font-size: 90px;

    font-family: lato;

    color: #fff;

    text-transform: uppercase;

    margin-bottom: 15px;
}

.strict span {
    margin-bottom: 20px;
    background: #15a4fa;
    width: 100%;
    height: 3px;
    display: block;
}

.strict p {

    font-size: 16px;

    color: #fff;

    font-family: lato;

    margin-bottom: 30px;
}

.strict button {

    border: none;

    background: transparent;

    border: 1px solid #15a4fa;

    color: #fff;

    text-transform: capitalize;

    padding: 15px 30px;

    border-radius: 3px;
}

.icon {
    animation: updown 1s linear infinite;
    animation-direction: alternate;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

@keyframes updown {
    0% {
        bottom: 70px;
    }

    100% {
        bottom: 40px;
    }
}

.simple {

    height: 250px;

    background-color: #f6f9f9;

    position: relative;
}

.design {

    width: 80%;

    position: absolute;

    left: 50%;

    top: 50%;

    transform: translate(-50%, -50%);

    text-align: center;
}

.design h1 {
    font-size: 35px;
    color: #2d3950;
    font-family: lato;
    margin-bottom: 20px;
}

.design p {
    font-size: 18px;
    font-family: lato;
    color: #999999;
}